// Libraries
@import '~normalize.css/normalize.css';

// Technical
@import './variables';
@import './mixins';

// Generic
@import './globals';
@import './layout';
@import './temporary';

// Components
@import './components/App';
@import './components/Shell';

// Animated components
@import './components/animated/FadeIn';
@import './components/animated/ScaleIn';

// Structural components
@import './components/structural/Nav';
@import './components/structural/LoaderAnimation';
@import './components/structural/Loader';
@import './components/utility/Page';
