.Loader {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: opacity $duration-animation-scale-in ease-out,
    transform $duration-animation-scale-in ease-out;
  opacity: 0;
  transform: scale(1.5);
  z-index: 99;
  &-enter {
    &-active {
      opacity: 1;
      transform: scale(1);
    }
    &-done {
      opacity: 1;
      transform: scale(1);
    }
  }
  &-exit {
    &-active {
      opacity: 0;
      transform: scale(1.5);
    }
    &-done {
      opacity: 0;
      transform: scale(1.5);
    }
  }
}
