.Nav {
  background-color: $color-quinary;
  &-logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      color: $color-primary;
    }
  }
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    &-item {
      &-link,
      &-button {
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
        padding: 2rem;
        text-align: center;
        color: $color-primary;
        &:hover,
        &:focus {
          color: $color-white;
          background-color: $color-quaternary;
        }
      }
      &-link {
        &.active {
          background-color: $color-tertiary;
          color: $color-primary;
          &:hover,
          &:focus {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
