.RegisterForm {
  width: 50%;
  margin: 0 auto;
  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &-inputs > input:not(label) {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    padding: 1rem 2rem;
    width: 100%;
  }
  &-controls {
    &-button {
      padding: 0.5rem 1rem;
    }
  }
}
