.MakesListItem {
  background-color: $color-white;
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 3px solid $color-quinary;
  transition: opacity $duration-animation-fade-in ease-out,
    transform $duration-animation-fade-in ease-out;
  opacity: 0;
  transform: translateY(-0.5rem);
  &-enter {
    &-active {
      opacity: 1;
      transform: translateY(-0.5rem);
    }
    &-done {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  &-exit {
    &-active {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    &-done {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  }
  display: flex;
  justify-content: space-between;
  & > * {
    padding: 1rem;
    text-align: center;
  }
  &:hover {
    border: 3px solid $color-black;
  }
  &-card {
    background-color: $color-primary;
    color: $color-white;
    width: 35%;
  }
  &-controls {
    background-color: $color-secondary;
    color: $color-white;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-button {
      padding: 0.5rem 1rem;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
