.FadeIn {
  transition: opacity $duration-animation-fade-in ease-out,
    transform $duration-animation-fade-in ease-out;
  opacity: 0;
  transform: translateY(-20%);
  &-enter {
    &-active {
      opacity: 1;
      transform: translateY(-20%);
    }
    &-done {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  &-exit {
    &-active {
      opacity: 0;
      transform: translateY(-20%);
    }
    &-done {
      opacity: 0;
      transform: translateY(-20%);
    }
  }
}
